{% extends 'main/staff/base.html' %}

{% block title %}
Архив
{% endblock %}

{% block content %}
{% if user.is_staff %}

<h1 class="text-dark">Архив:</h1>
    {% for el in tasks %}
        {% if user.is_superuser %}
            {% if date >= el.deadlines or el.status == True %}
            <div class="mt-2">
                <hr class="featurette-divider">
                {% if el.status == True %} 
                <h3 class="text-success">Выполнено: {{ el.title }}</h3>
                {% else %}
                <h3 class="text-danger">Провалено: {{ el.title }}</h3>
                {% endif %}
                <p>{{el.task}}</p>
                <p>Кому: {{el.group}}</p>
                <p>Сроки: {{el.deadlines}}</p>
                <p>ID: {{el.id}}</p>
            </div>
            <form id="nubexForm" method="post">
                {% csrf_token %}
                <a class="btn btn-secondary" href="{% url 'taskpage' el.id %}">К заданию</a>
            </form>
            
            {% endif %}


        {% else %}
            {% if el.group == user.groups.all.0.name or el.group == "all" %}
                {% if date >= el.deadlines or el.status == True %}
                <div class="mt-2">
                    <hr class="featurette-divider">
                    {% if el.status == True %} 
                    <h3 class="text-success">Выполнено: {{ el.title }}</h3>
                    {% else %}
                    <h3 class="text-danger">Провалено: {{ el.title }}</h3>
                    {% endif %}
                    <p>{{el.task}}</p>
                    <p>Кому: {{el.group}}</p>
                    <p>Сроки: {{el.deadlines}}</p>
                    <p>ID: {{el.id}}</p>
                </div>
                <form id="nubexForm" method="post">
                    {% csrf_token %}
                    <a class="btn btn-secondary" href="{% url 'taskpage' el.id %}">К заданию</a>
                </form>
                {% endif %}
            {% endif %}
        {% endif %}
        
    {% endfor %}
{% else %}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}
{% endblock %}
