{% extends 'main/staff/base.html' %}

{% block title %}
Задачи
{% endblock %}

{% block content %}
<h1 class="text-dark">План</h1>

    {% csrf_token %}
    {% for el in tasks %}
        {% if user.is_superuser %}
            {% if el.deadlines >= date and el.status == False %}
            <div class="mt-2">
            
                
                <hr class="featurette-divider">
                
                <h3 class="text-primary">{{ el.title }}</h3>
                
                <p>{{el.task}}</p>
                <p>Кому: {{el.group}}</p>
                
                <p>Сроки: {{el.deadlines}}</p>

                <p>ID: {{el.id}}</p>
            </div>
            <form id="nubexForm" method="post">
                {% csrf_token %}
                <a class="btn btn-secondary" href="{% url 'taskpage' el.id %}">К заданию</a>
            </form>
            {% endif %}
        {% else %}
            {% if el.group == user.groups.all.0.name or el.group == "All" %}
                {% if el.deadlines >= date and el.status == False %}
                <div class="mt-2">
                
                    <hr class="featurette-divider">         
                    
                    <h3 class="text-primary">{{ el.title }}</h3>
                    
                    <p>{{el.task}}</p>
                    <p>Кому: {{el.group}}</p>
                    
                    <p>Сроки: {{el.deadlines}}</p>

                    <p>ID: {{el.id}}</p>
                </div>
                <form id="nubexForm" method="post">
                    {% csrf_token %}
                    <a class="btn btn-secondary" href="{% url 'taskpage' el.id %}">К заданию</a>
                </form>
                {% endif %}
            {% endif %}
        {% endif %}
        
        
        

    {% endfor %}
{% endblock %}
