{% extends 'main/client/base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
{% if StAuth == "Staff" %}
    <h1>Пользователь - {{user.username}}</h1>
    <p>Имя: {{user.first_name}}</p>
    <p>Фамилия: {{user.last_name}}</p>

    {% if user.is_superuser %}
        <p>Отдел: Администрация</p>
    {% else %}
        <p>Отдел: {{user.groups.all.0.name}}</p>
    {% endif %}


     <br> <a class="btn btn-secondary" href="{% url 'tasks' %}">В рабочий профиль</a> <br> <br> <br>
{% endif %}

{% if StAuth == "Client" %}

    
<h1>Пользователь - {{user.first_name}} {{user.last_name}}</h1>

    <br> <a class="btn btn-secondary" href="{% url 'cards' %}">Мои счета</a> <br> 
    <br> <a class="btn btn-secondary" href="{% url 'newcard' %}">Открыть новый счёт</a> <br> 
    <br> <a class="btn btn-secondary" href="{% url 'moneytransfer' %}">Денежный перевод</a> <br> <br> <br> 
{% endif %}

<a class="btn btn-danger" href="{% url 'logout' %}">Выйти</a>

{% endblock %}
