{% extends 'main/client/base.html' %}

{% block title %}
Карты
{% endblock %}


{% block content %}
{% load static %}
<div class="container">
  <div class="row  justify-content-around">
    
<h1 class="text-dark">Ваши счета:</h1>

<hr class="featurette-divider"> 
{% for card in cards %}

    <div class="card" style="width: 18rem;">
      {% if card.cardType == "Debit" %}
      <img class="card-img-top" src="{% static 'images/cardDebit.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-secondary">{{card.cardType}} Card</p>
        <p class="card-text">Номер счёта: {{card.cardNumber}}</p>
        <p class="card-text">Баланс: {{card.cardBalance}}</p>
      </div>
      {% endif %}
      {% if card.cardType == "Credit" %}
      <img class="card-img-top" src="{% static 'images/cardCredit.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-secondary">{{card.cardType}} Card</p>
        <p class="card-text">Номер счёта: {{card.cardNumber}}</p>
        <p class="card-text">Остаток: {{card.cardBalance}} <span class="text-muted">/ {{card.startBalance}}</span></p>
        <p class="card-text">Ставка: {{card.percent}} %</p>
      </div>
      {% endif %}
      {% if card.cardType == "Save" %}
      <img class="card-img-top" src="{% static 'images/cardSave.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-secondary">{{card.cardType}} Card</p>
        <p class="card-text">Номер счёта: {{card.cardNumber}}</p>
        <p class="card-text">Баланс: {{card.cardBalance}}</p>
        <p class="card-text">Ставка: {{card.percent}} %</p>
      </div>
      {% endif %}
      {% if card.cardType == "CreditSpecial" %}
      <img class="card-img-top" src="{% static 'images/cardCreditSpecial.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-secondary">{{card.cardType}} Card</p>
        {% if card.cardStatus == "Active" %}
        <p class="card-text">Номер счёта: {{card.cardNumber}}</p>
        <p class="card-text">Баланс: {{card.cardBalance}}<span class="text-muted">/ {{card.startBalance}}</span></p>
        <p class="card-text">Ставка: {{card.percent}} %</p>
        {% endif %}
        {% if card.cardStatus == "Request" %}
        <p>Заявка на рассмотрении</p>
        {% endif %}
      </div>
      {% endif %}
    </div> <br>

    

{% endfor %}
  </div>
</div>


  

{% endblock %}