{% extends 'main/client/base.html' %}

{% block title %}
Заявка на кредит
{% endblock %}


{% block content %}
<h1 class="text-dark">Заявка на кредитование</h1>



<hr class="featurette-divider">


<div class="conteiner">
    <div class="row justify-content-md-center" style="width:100%; padding: 0% 20%;">


<form method="POST"  class="form-group justify-content-center">
	{% csrf_token %}

    <div class="form-group">
          <label>Заполните данные: </label>
          
          
          <br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Фамилия" name="lastName">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Имя" name="firstName">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Отчество" name="patronymic">
            </div>
          </div>
<br>


        <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Дата рождения" name="date">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Номер телефона" name="tel">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Паспорт" name="pasport">
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Запрашиваемая сумма" name="money">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Цель кредитования" name="goal">
            </div>
            </div>
            <br>


<input type="submit" class="btn btn-secondary" value="Оставить заявку">

</form>
</div></div>
</div>

{% endblock %}