{% extends 'main/client/base.html' %}

{% block title %}
Акции
{% endblock %}


{% block content %}
{% load static %}


<h1 class="text-dark">Специальные предложения: </h1>

<hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Дебетовая карта </h2>
          <p class="lead"><ul class="ingredients-lst">
            <li><span itemprop="recipeIngredient"><span class="name"></span> Оформление в один клик  </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Отсутствие лимитов</span><span class="text-muted"></span>  </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Бесплатные переводы внутри банка</span> </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Бесплатное снятие наличных</span> </span></li>
        </ul></p>
        
        <div>
        {% if request.user.is_authenticated %}
        <li style="color: rgb(255, 255, 255);"><a href="{% url 'newcard' %}" class="link-secondary">Оформить</a></li>
        {% else %}
        <li style="color: rgb(255, 255, 255);"><a href="{% url 'login' %}" class="link-secondary">Оформить</a></li>
        {% endif %}
      </div>
        </div>
        
        <div class="col-md-5">
          <img class="card-img-top" src="{% static 'images/cardDebit.png' %}" alt="Card image cap">
        </div>
      </div>

    <hr class="featurette-divider">

    <div class="row featurette justify-content-center">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Кредитная линия<span class="text-muted"></span></h2>
          <p class="lead"><ul class="ingredients-lst">
            <li><span itemprop="recipeIngredient"><span class="name"></span> Оформление займёт меньше минуты  </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Маленькая процентная ставка</span> – <span class="text-muted"> 2.2% на месячный расход</span>  </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Бесплатные переводы внутри банка</span> </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Система лояльности</span> </li>
        </ul></p>
        
        <div>
        {% if request.user.is_authenticated %}
        <li style="color: rgb(255, 255, 255);"><a href="{% url 'newcard' %}" class="link-secondary">Оформить</a></li>
        {% else %}
        <li style="color: rgb(255, 255, 255);"><a href="{% url 'login' %}" class="link-secondary">Оформить</a></li>
        {% endif %}
      </div>
        
        </div>
        <div class="col-md-5 order-md-1">
          <img class="card-img-top" src="{% static 'images/cardCredit.png' %}" alt="Card image cap">
        </div>
      </div>

    <hr class="featurette-divider">



    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Накопительный счёт<span class="text-muted"></span></h2>
          <p class="lead"><ul class="ingredients-lst">
            <li><span itemprop="recipeIngredient"><span class="name"></span> Быстрое оформление </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Хороший процент на вклад</span> – <span class="text-muted"> 0.3% на месячный остаток</span>  </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Бесплатные переводы внутри банка</span> </span></li>
            <li><span itemprop="recipeIngredient"><span class="name">Система лояльности</span> </li>
        </ul></p>
        
        <div>
        {% if request.user.is_authenticated %}
        <li style="color: rgb(255, 255, 255);"><a href="{% url 'newcard' %}" class="link-secondary">Оформить</a></li>
        {% else %}
        <li style="color: rgb(255, 255, 255);"><a href="{% url 'login' %}" class="link-secondary">Оформить</a></li>
        {% endif %}
      </div>

        </div>
        
        <div class="col-md-5">
          <img class="card-img-top" src="{% static 'images/cardSave.png' %}" alt="Card image cap">
        </div>
      </div>



{% endblock %}