{% extends 'main/client/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<body class="text-center" >
  <div class="row justify-content-center" >
    <div class="col-md-8 offset-md-2" style="width: 30%">
    <form method="post" action="{% url 'login' %}" >
    {% csrf_token %}
    
    <div>

      <td >{{ form.username.label_tag }}</td>
    </div>
    <div>
      <td >{{ form.username }}</td>
    </div>
    <div>
    
      <td>{{ form.password.label_tag }}</td>
    </div>
    <div>
      <td>{{ form.password }}</td>

    </div>
    
    <br>
    <input type="submit" class="btn btn-secondary" value="Войти" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
  <p >Нет аккаунта? <a href="{% url 'register' %}" class="link-info">Создать</a></p>
</div></div>
</body>

{% endblock %}
